:root {
    --text-color: #222;
    --background-color: #fff;
    --surface-color: #eee;
    --accent-color: #005fcc;

    --spacing-small: 0.5rem;
    --spacing-medium: 1.0rem;
    --spacing-large: 1.5rem;

    --content-width: 75rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.content {
    width: 100%;
    max-width: var(--content-width);
    margin-inline: auto;
    padding-inline: 1rem;
}


/* Selectorer till toppen */
.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logo {}


/* Selectorer till huvuddelen */
.content {
    width: 960px;
}

.hero {
    width: 960px;
}

.block {}

.projects {}

.card {

}

.flowLayout {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card img {
    width: 100px;
    max-width: 300px;
    height: 140px;
    background: #fff;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.card figure {
    margin: 0;
}

.cardgridlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.intro {}

/* Selectorer till huvuddelen */
.bottom {
    width: 960px;
}

/* Selectorer till huvuddelen */
@media (max-width: 900px) {
    .cardgridlist {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cardgridlist {
        grid-template-columns: 1fr;
    }
}